EXPO_PUBLIC_API_BASE_URL=https://zav-api-2026.onrender.com

# Estilo vectorial del mapa. No contiene secretos.
# OpenFreeMap puede sustituirse por otro proveedor compatible con MapLibre.
EXPO_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
